body{
width: 90vw;
margin: 0 auto;
background: url(/Asset/Img/Table\ de\ jeux.jpg);
background-size: cover;
color: white;
}


#titreHeader {
    text-align: center;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#nomDesJoueurs{
    margin: 10px;
    font-weight: bold;
    font-size: 20px;
}

#btnValidation{
    font-size: 14px;
    font-weight: bold;
    width: 100px;
    height: 40px;
    border: none;
    color: rgb(0, 0, 0);
    border-radius: 25px;
    background-color: #20d43893;
    cursor: pointer;
}

#btnValidation:active{
    background-color: #6cd3727c;

}
#partie{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5vw;
}

#debutDePartie{
display: flex;
flex-direction: column;
align-items: center;
}

#btnDebutDePartie{
    width: 150px;
    height: 45px;
    font-size: 16px;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 15px;
    background-color: rgba(28, 14, 153, 0.836);
    cursor: pointer;
    margin-bottom: 0.5vw;
}


#btnDebutDePartie:active{
    background-color: rgba(65, 54, 167, 0.836);
}

#tableDeJeux{
    display: flex;
    width: 100%;
    flex-direction: row;
    margin: 0 1vw;
    justify-content: space-between;
}
#tableauJoueurUn, #tableauJoueurDeux{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.score{
    background-color: rgba(128, 128, 128, 0.527);
    border: dashed 1.5px rgb(255, 255, 255);
    color: black;
    text-align: center;
    vertical-align: middle;
}

.score, td{
    width: 160px;
}
.titreTableau{
    width: 75px;
    border-right: dashed 1.5px rgb(255, 255, 255);
}

.titreTableauDeux{
    width: 75px;
    border-left: dashed 1.5px rgb(255, 255, 255);
}

#sauvePointJoueurUn, #sauvePointJoueurdeux {
    margin: 1vw 0;
    border: none;
    border-radius: 10px;
    background-color: #20d43893;
    font-weight: bold;
    height: 40px;
}

#sauvePointJoueurUn:active, #sauvePointJoueurdeux:active{
    background-color: #6cd3727c;
}

#des{
    display: flex;
    flex-direction: column;
    margin: 0 1vw;
    width: 10vw;
}

#des img:not(#faceDeDes){
    display: none;
}

#message{
    background-color: green;
    width: 175px;
    height: 70px;
    margin: 0.5vw;
}
